.articles {
  width: 100%;
  background-color: $weryLightGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border: 5px green solid;
  background-color: $weryLightGray;

  &__content {
    display: grid;
    // grid-template-columns: repeat(4, 1fr); responsive
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.875rem;
    width: 100%;
  }
  &__card {
    width: 100%;
    height: 400px;
    background-color: $white;
    border-radius: 0.315rem;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__card__img {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 0.325rem 0.325rem 0 0;
    }
  }

  &__card__content__title {
  }
}
