.navBar{
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 9999;
}

.brand {  
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between; 
    padding-block: 1.25rem;

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__toggle {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.hidden {
  display: none;
}

/* styles pour la version mobile */
.modal {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  &.show {
    display: flex;
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 3rem);  
    max-width: 330px;  
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 0.5rem;
    z-index: 2;

    .navBar__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      width: 100%;
      height: 100%;
      padding: 1.5rem 0;
      li {
        width: 100%;
        text-align: center;
        font-size: $font-size-med;
        color:$darkBlue;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            color: $limeGreen;
          }
      }
    }
  }

  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* styles pour la version de bureau */
@media (min-width: 768px) {
  .brand {
    &__toggle {
      display: none;
    }
  }
  .modal {
    display: none;
    &.show {
      display: none;
    }
  }
}
