.footer {
  background-color: $darkBlue;
  padding: 40px;
  text-align: center;

  &__logo {
    img {
      width: 100%;
      max-width: 180px;
      margin: 0 auto 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__social {
    margin-bottom: 40px;
  }
  &__social-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__social-item {
    a {
      display: inline-block;
      height: 1.25rem;
      svg path {
        transition: fill 0.3s ease-in-out;
      }
      &:hover svg path {
        fill: $brightCyan !important;
      }
    }
    a:not(:last-child) {
      margin-right: 1.25rem;
    }

    img {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
  &__links {
    height: 100%;
  }
  &__links-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    gap: 10px;
    margin-bottom: 40px;
  }
  &__links-item {
    cursor: pointer;
    color: $white;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $limeGreen;
    }
  }

  &__btn {
    margin-bottom: 40px;
  }
  &__attribution {
    font-size: $font-size-sm;
    text-align: center;
  }
}
