/* CUSTOM PROPERTIES */

/* Colors */

//Primary

$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;

//Neutral

$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$weryLightGray: #fafafa;
$white: #ffffff;

/* Fonts */

// Font sizes

$font-size-sm: 0.875rem;
$font-size-med: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xlg: 3.25rem;

// Font weights

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Font family

$fontFamily: 'Public Sans', sans-serif;
